@import "base/settings";
@import "base/mixins";
@import "base/normalize";
@import "base/fonts";
@import "base/general";
@import "base/helpers";
//  @import "components/entry";


body {
	background: white;
	max-width: 768px;
	font-size: 18px;
	padding: 60px;

	&.wp-autoresize {
		padding: 60px !important;
	}

	@media (max-width: 500px) {
		padding: 20px;

		&.wp-autoresize {
			padding: 20px !important;
		}
	}
}

a {
	text-decoration: underline;
}


table {
	font-size: 14px;
	line-height: 1.3;
	margin: 30px 0;

	thead {
		background: #f8f8f8;
		border-bottom: 2px solid #ddd;

		th {
			padding: 10px;
		}
	}

	td {
		padding: 20px 10px;
	}

	tr {
		border-bottom: 1px solid #eee;
		transition: 0.2s;

		th {
			background: #f8f8f8;
			border-bottom: 2px solid #ddd;
			padding: 10px;
		}
	}

	tr:hover {
		background-color: #fafafa;
		transition: 0s;
	}
}

ol {
	margin-left: -20px;
	margin-top: 20px;
	margin-bottom: 20px;
	list-style-type: decimal;

	li {
		margin-left: 20px;
		ol { margin-left: 0 }
	}
}

ul {
	margin-left: -20px;
	margin-top: 20px;
	margin-bottom: 20px;
	list-style-type: disc;

	li {
		margin-left: 20px;
		ul { margin-left: 0 }
	}
}

@media (max-width: $breakpoint-small) {
	ol,ul {
		margin-left: 0;
	}
}

h1 {
	margin-bottom: 1em;
}

h2 {
	margin-bottom: 1em;
}

h3 {
	margin-bottom: 1em;
}

h4 {
	margin-bottom: 1em;
}

h5,
h6 {
	text-transform: uppercase;
	margin-bottom: 0.5em;
	margin-top: 0;
}

blockquote {
	background: #fcfcfc;
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
	padding: 20px 0;
	color: #555;
	margin: 20px 0;
}

q {
	font-style: italic;
}

figure {
	margin-left: 0;
	margin-right: 0;
}
