/**
 * Clean basic header styling with logo on the left and menu on the right
 * with white background and subtle shadow.
 */

$menu-font-size: 14px;
$menu-link-padding: rem-calc(20px 30px);
$menu-link-color: $color-text;
$menu-link-background: #fff;
$menu-link-color-hover: $menu-link-color;
$menu-link-background-hover: #fafafa;
$menu-link-border-radius: 0;
$submenu-padding: 0;
$submenu-menu-padding: $menu-link-padding;
$submenu-width: 250px;
$submenu-font-size: 14px;

// In case the header menu is too long change a bit the layout.
@media (min-width: $menu-breakpoint ) {
	.long-menu .site-header {
		&-inner {
			flex-direction: column;
		}

		.main-navigation,
		.menu-primary-container,
		.menu {
			width: 100%;
		}

		.menu,
		.menu > ul {
			display: flex;
			width: 100%;
		}

		.main-navigation {
			border-top: 1px solid #EBEBEB;
		}

		.menu-item,
		.page_item {
		    flex: 1 1 auto;
		    text-align: center;

		    a {
		    	display: block;
		    }

		    .menu-item,
			.page_item { text-align: left;}
		}

		.site-branding {
			margin: 0;
			padding: 20px 0;
		}
	}
}

.site-header {
	padding: 0;
	box-shadow: 0 3px 17px 0 rgba(black, .06);
	background: white;

	// This will be the flexbox wrapper
	&-inner {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		z-index: 99;
		box-shadow: 0 20px 70px -30px rgba(black, 0.1);
		position: relative;
		background: white;

		@media (max-width: 860px) {
		    justify-content: space-between;
		}
	}

	@media (max-width: 860px) {
		&-inner {
			padding: 30px 0;
		}

		.main-navigation {
			flex: 0 1 auto;
			margin-right: 25px;
		}
	}

	@media (max-width: $breakpoint-small) {
		.main-navigation { margin-right: 15px; }
	}
}

.site-description {

	@media (min-width: $breakpoint-small ) {
		margin-top: 0;
		margin-left: 10px;
		padding-left: 10px;
		border-left: 1px solid #ddd;
	}

}

.site-branding {
	display: block;
	margin-left: 30px;
	line-height: 1.2;

	// This will leave space for the mobile menu
	max-width: calc(100% - 80px);

	@media (min-width: $breakpoint-small) {
	    margin-left: 35px;
	    display: flex;
		align-items: baseline;
	}
}

.site-title {
    font-size: 20px;
    margin: 0;

    a {
        color: $color-text;
        font-weight: bold;
    }
}

.main-navigation {
	flex: 1 1 auto;

	.menu-item,
	.page_item {
		border-left: 1px solid #EBEBEB;
		margin-right: -5px;

		a {
			padding: $menu-link-padding;
			color: $menu-link-color;
			background-color: $menu-link-background;
			border-radius: $menu-link-border-radius;
			font-size: $menu-font-size;
			font-weight: bold;
		}

		a:hover {
			color: $menu-link-color-hover;
			background-color: $menu-link-background-hover;
		}

		// From here down we are using smaller menu items
		@media (max-width: 1200px) {
			a {
				padding: 20px 20px;
			}
		}
	}
}



// Dropdown menu settings.
// You can have these in a separate file or tweak the standard menu settings.
//
// $menu-breakpoint - comes from the components/_mobile-menu.scss base stylings
// ----------------------------------------------------------------------------
@media (min-width: $menu-breakpoint) {
	.menu-item:nth-last-child(-n+3) .sub-menu .sub-menu,
	.menu-item:nth-last-child(-n+3) .children .children {
		right: calc(100%);
		top: -($submenu-padding / 2);
	}
	.main-navigation .sub-menu,
	.main-navigation .children {
		// border: none;
		box-shadow: 0 7px 13px -9px rgba(black, 0.1);
		padding: $submenu-padding 0;
		font-size: $submenu-font-size;
		min-width: $submenu-width;

		.menu-item {
			margin: 0;
			padding: 0;
			// border: none;

			&:last-of-type {
				margin-bottom: 0;
			}

			a {
				padding: $submenu-menu-padding;
				display: block;
			}

			a:hover {
				background: #fafafa;
			}
		}
	}

}
