// Many of the selectors are with the goal of overwriting
// the existing BBPress stylings.
#bbpress-forums {
    font-size: 14px;

    ul.bbp-lead-topic,
    ul.bbp-topics,
    ul.bbp-forums,
    ul.bbp-replies,
    ul.bbp-search-results {
        font-size: 14px;
    }

    div.bbp-search-form {
        .button {
            padding-top: 11px;
            padding-bottom: 11px;
        }
    }

    div.bbp-breadcrumb {
        margin-bottom: 20px;
        display: block;
        float: none;

        p { margin: 11px 0 0 0; }
    }

    ul.bbp-forums {
        margin-top: 20px;
    }

    .bbp-header {
        #subscription-toggle {
            margin-top: 0;
        }
    }

    li.bbp-header,
    li.bbp-footer {
        background-color: #fafafa;
    }

    #subscription-toggle {
        float: right;
        margin-top: 11px;
    }

    div.bbp-topic-tags {
        float: none;
        margin-top: -10px;

        @media (max-width: 860px) {
            float: none;
        }
    }

    a.bbp-reply-permalink {
        font-weight: bold;
        color: black;
    }

    p.bbp-topic-description .avatar,
    p.bbp-topic-meta .avatar { display: none; }

    div.bbp-the-content-wrapper textarea.bbp-the-content {
        border: 1px solid #ddd;
    }

    div.odd,
    ul.odd {
        background: white;
    }

    div.bbp-forum-header,
    div.bbp-topic-header,
    div.bbp-reply-header {
        background: white;
        border-bottom: 1px solid #ddd;
    }

    .topic div.bbp-reply-content {
        font-size: 14px;
    }

    li.bbp-topic-revision-log-item .avatar { display: none; }
}

// Widget: Search
#bbp-search-form {
    div {
        display: flex;
        box-shadow: 0 3px 5px rgba(black, 0.1);
    }

    input {
        border: none;
        font-size: 16px;
    }

    label {
        flex: 1 1 100%;
    }

    #bbp_search {
        width: 100%;
    }

    #bbp_search_submit {
        border-left: 1px solid #f1f1f1;
        font-weight: bold;
        padding-left: 20px;
        padding-right: 20px;
    }
}

// Widget: Login and Logout
.bbp_widget_login {
    .bbp-logged-in {
        background: white;
        padding: 20px;
        border: 1px solid #ddd;

        .button {
            padding: 0;
            background: transparent;
            border: none;
            color: tomato;
        }

        h4 {
            margin-bottom: 0;
        }
    }

    .bbp-login-form {
        fieldset {
            background: white;
            padding: 20px;
            border: 1px solid #ddd;
            box-shadow: 0 -5px #00a7ff;
        }

        input[type="text"],
        input[type="password"] {
            display: block;
            width: 100%;
        }

        .bbp-username {
            margin-top: 0;
        }

        .bbp-submit-wrapper {
            margin-top: 0;
        }

        .bbp-remember-me {
            margin-bottom: 10px;
        }
    }
}

.widget_display_stats {
    dl {
        background: white;
        padding: 20px 20px 0 20px;
        border: 1px solid #ddd;
    }

    dt {
        display: block;
        max-width: calc(100% - 50px);
        font-weight: normal;
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    dt:last-of-type {
        border-bottom: none;
    }

    dd {
        display: inline-block;
        float: right;
        margin: 0;
        margin-top: -44px;
        color: black;
    }
}
