// JetPack widget: Contact
.widget_contact_info {
    background: white;
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;

    .confit-address {
        font-style: italic;
        font-size: 18px;
    }

    .confit-hours {
        padding-top: 20px;
        margin-top: 20px;
        border-top: 1px solid #ddd;
    }

    .confit-phone {
        background-color: $color-primary;
        color: white;
        border-radius: 50px;
        padding: 4px 20px;
        display: inline-block;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

// JetPack widget: Showing recent posts from other sites
.widget_jetpack_display_posts_widget {
    // Needed to overwrite Jetpack's stylings
    .jetpack-display-remote-posts {
        h4 {
            font-weight: normal;
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: 14px;
            line-height: 1.7;
        }

        h4:last-of-type {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
        }
    }
}

// JetPack widget: Goodreads. Not an iframe! wohoo
.widget_goodreads {
    // It comes with some stylings, so overwriting will be needed here...
    div[class^="gr_custom_container"] {
        border-color: #ddd;
        border-radius: 0;
        padding: 20px;
    }

    // This is the row wrapper for the books
    div[class^="gr_custom_each_container"] {
        border-color: #ddd;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    div[class^="gr_custom_each_container"]:last-of-type {
        margin-bottom: 0;
        padding-bottom: 0;
        border: none;
    }

    div[class^="gr_custom_author"] {
        font-style: italic;
        color: $color-muted;
    }

    div[class^="gr_custom_title"] {
        font-weight: bold;
    }

    div[class^="gr_custom_review"] {
        line-height: 1.2;
        text-transform: none;
        font-size: 10px;
        margin-top: 10px;
        color: #999;

        &:before { content: "\""; display: inline; }
        &:after { content: "\""; display: inline; }
    }

    center {
        padding: 20px;
        background: #fafafa;
        border: 1px solid #ddd;
    }
}
