// WooCommerce specific stylings
// (not supporting dark theme yet)
// 

.woocommerce .woocommerce-breadcrumb {
	background: white;
	padding: 20px;
	margin: 0;
	display: block;

	a {
		color: black;
	}
}

.product {
	background: white;
	padding: 60px;

	span.onsale {
		background-color: $color-primary;
		color: white;
		font-size: 32px;
		left: 20px;
		top: 0;
		position: absolute;
		display: inline-block;
		line-height: 1;
		padding: 8px 16px;
		font-size: 14px;
		font-weight: bold;
		min-width: 0;
		min-height: 0;
		border-radius: 0;

		@media (min-width: $breakpoint-small) {
			left: 60px;
		}
	}

	input, 
	select, 
	textarea {
		padding: 3px;
	}

	@media (max-width: $breakpoint-small) {
		padding: 20px;
	}
}

.woocommerce {
	.woocommerce-Tabs-panel--reviews {
		#comments {
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid #ccc;
		}

		.comment-form-rating {
			margin: 0;

			label {
				display: inline-block;
			}

			.stars {
				display: inline-block;
				margin: 0 !important;
			}
		}

		.comment-reply-title {
			font-size: 16px;
			margin-bottom: 20px;
		}
	}
}

.woocommerce-page {
	.widget-area {
		display: none;
	}

	.site-content {
		
	}

	#container {
		max-width: $global-width;
		margin: 0 auto;
		padding-bottom: 80px;
	}

	.woocommerce-breadcrumb {
		margin-bottom: 80px;
	}


	.page-title,
	.woocommerce-result-count {
		display: block;
		text-align: center;
		float: none;
	}

	.woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
		float: none;
		max-width: 200px;
		margin: 0 auto;
	}

	ul.products li.product .onsale {
		z-index: 1;
		top: 7px;
		right: 7px;
	}

	ul.products li.product, .woocommerce-page ul.products li.product {
		padding: 20px;
		width: auto;
		margin: 5px;
		float: none;
	    flex: 0 1 33%;
	}

	ul.products {
		margin: 40px;
		display: flex;
	}
}

.woocommerce-page.woocommerce-cart {
	.widget-area {
		display: block;
	}
}