.button {
	display: inline-block;
	color: white;
	background-color: $color-primary;
	border: 1px solid $color-primary-dark;

	padding: 1em 2em;
	border-radius: .15em;
	font-weight: bold;
	font-size: 14px;
	font-style: normal;

	transition: 0.4s;
	cursor: pointer;

	&:hover {
		// border-color: $color-primary;
		transition: 0.1s;
		opacity: 0.85;
	}

	&:active {
		opacity: 1;
		transition: 0.1s;
		transform: translateY(3px);
		transition: 0.1s;
	}

	// Make sure if the element is more complex the styling
	// is still applied.
	a {
		color: white;
	}

	&:before,
	&:after {
		color: white;
	}

	// Types of buttons
	&.muted {
		background: #eee;
		border: 1px solid #ddd;
		color: black;

		a,
		&:before,
		&:after {
			color: black;
		}

		&:hover {
			border-color: #ccc;
			background: #dfdfdf;
		}
	}
}
