.page-header {
    color: $color-muted;
    margin-bottom: 60px;

    .page-title {
         font-size: 20px;
    }

    @media (max-width: $breakpoint-small) {
        padding: 0 20px;
        margin: 20px 0;
    }
}

.header-featured-image {
	position: relative;
	overflow: hidden;
	padding-bottom: percentage( 50 / 192 );

	&:hover {
		.caption-wrapper {
			transition: .4s;
			transform: translateY(0);
		}
	}

	.caption-wrapper {
		bottom: 20px;
		z-index: 1;
		display: block;
		position: absolute;
		width: 100%;
		text-align: center;

		transition: .4s;
		transform: translateY(200%);
	}

	.caption {
		background: rgba(black, .7);
		color: white;
		font-size: 18px;
		display: inline-block;
		padding: 8px 16px;
		border-radius: 3px;
	}
}

.post-navigation {
	margin-top: 60px;
}

.single .post-navigation {
	margin-top: 0;
}

// Comes from jetpack
#infinite-footer { display: none; }

// Homepage components. Creating the grid from here.
.homepage-widgets {
	@include flex;
	@include grid-row;
	margin: 0 -20px;

	.widget {
		@include grid-column(4);

		@media (max-width: $breakpoint-small) {
			@include grid-column(12);			
		}
	}

	ul {
		width: 100%;
	}

	li {
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #ddd;
		display: block;

		a {
			color: #777;
		}

		&:last-of-type {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: none;
		}
	}

	.widget-title {
		margin-bottom: 15px;
	}

	@media (max-width: $breakpoint-small) {
		flex-direction: column;
		margin: 0;

		.widget {
			margin: 20px 0;
			max-width: 100%;
		}
	}
}