.entry {
	background: white;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 60px;
	position: relative;

	&:last-of-type {
		margin-bottom: 0;
	}

	&.sticky {
		border: 2px solid #00a7ff;
	}

	.single & {
		margin-bottom: 20px;
	}

	&-padding-area {
		padding: 60px;

		&.two-columns {
			display: flex;

			.entry-featured-image {
				flex: 1 1 220px;
				max-width: 220px;
				margin-bottom: 0;
				padding-right: 20px;
			}

			.entry-compact-right {
				flex: 1 1 ;
			}

			.entry-title {
				font-size: 22px;
				margin-bottom: 0;
			}

			.entry-header {
				margin-bottom: 10px;
			}

			.post-categories {
				margin-bottom: 0;
			}

			.continue-reading {
				font-weight: bold;
				margin-top: 10px;
				display: inline-block;

				.fa {
					font-size: 12px;
					display: inline-block;
					margin-left: 3px;
					vertical-align: text-bottom;
					transition: 0.3s;
				}

				&:hover .fa {
					transform: translateX(5px);
					transition: 0.3s;
				}
			}

			@media (max-width: $breakpoint-small) {
				display: block;

				.entry-featured-image {
					max-width: 100%;
					padding-right: 0;
					margin-bottom: 20px;
				}

			}
		}

		&.footer {
			padding-top: 40px;
			padding-bottom: 40px;

			background-color: #FCFCFC;
			border-top: 1px solid #E3E3E3;
		}

		@media (max-width: $breakpoint-small) {
			padding: 20px;
		}
	}

	&-featured-image.responsive-image,
	&-featured-image {
		margin-bottom: 30px;
		border-radius: 5px;
		display: block;
	}

	&-content {
		font-size: 18px;
		word-wrap: break-word;

		&:after {
			content: '';
			display: table;
			clear: both;
		}

		@media (max-width: $breakpoint-small) {
			font-size: 16px;
		}

		// We have custom "read more" button. Simply do not display the
		// one shown from WordPress :)
		.more-link { display: none; }

		// For better styling do not add margin under the last <p> tag.
		p:last-of-type { margin-bottom: 0; }
		p:last-of-type img:last-of-type { margin-bottom: 0; }

		// Minor change for the links to make them more readable
		a {
			color: #1674d4;
			text-decoration: underline;
		}
	}

	&-header {
		margin-bottom: 30px;
	}

	.post-categories {
		font-size: 14px;
		margin: 0 0 20px 0;

		li {
			display: inline-block;
			margin-right: 30px;
			margin-left: 0;

			@media (max-width: $breakpoint-small) {
				margin-right: 5px;
			}
		}

		a {
			color: $color-muted;
		}
	}

	&-title {
		font-size: 30px;
		color: $color-text;
		line-height: 1.2;
		word-wrap: break-word;

		a { color: $color-text; }
	}

	&-footer {
		color: #676767;
		font-size: 14px;
		font-style: italic;

		a {
			color: #676767;
			font-style: italic;
		}

		@media (max-width: $breakpoint-small) {
			text-align: center;
		}
	}

	.post-edit-link {
		display: none;
	}

	.updated {}

	// All of this is in the entry-footer wrapper
	.byline,
	.tags-links,
	.comments-link,
	.posted-on,
	.cat-links {
		margin-right: 1em;
		display: inline-block;
	}

	.read-more {
		@extend .button;
		display: inline-block;
		margin-right: 1em;

		@media (max-width: $breakpoint-small) {
			display: block;
			margin-right: 0;
			// margin-bottom: 1em;
		}
	}

	table {
		font-size: 14px;
		line-height: 1.3;
		margin: 30px 0;

		thead {
			background: #f8f8f8;
			border-bottom: 2px solid #ddd;

			th {
				padding: 10px;
			}
		}

		td {
			padding: 20px 10px;
		}

		tr {
			border-bottom: 1px solid #eee;
			transition: 0.2s;

			th {
				background: #f8f8f8;
				border-bottom: 2px solid #ddd;
				padding: 10px;
			}
		}

		tr:hover {
			background-color: #fafafa;
			transition: 0s;
		}
	}

	ol {
		margin-left: -1.75em;
		margin-top: 1.75em;
		margin-bottom: 1.75em;
		list-style-type: decimal;

		li {
			margin-left: 1.75em;

			ol { margin-left: 0 }
		}
	}

	ul {
		margin-left: -1.75em;
		margin-top: 1.75em;
		margin-bottom: 1.75em;
		list-style-type: disc;

		li {
			margin-left: 1.75em;
			ul { margin-left: 0 }
		}
	}

	@media (max-width: $breakpoint-small) {
		ol,ul {
			margin-left: 0;
		}
	}

	h1 { margin-bottom: 1em; }
	h2 { margin-bottom: 1em; }
	h3 { margin-bottom: 1em; }
	h4 { margin-bottom: 1em; }

	h5,
	h6 {
		text-transform: uppercase;
		margin-bottom: 0.5em;
		margin-top: 0;
	}

	blockquote {
		padding: 20px 0 20px 50px;
		color: #555;
		margin: 20px 0;
		font-family: $font-serif;
		position: relative;

		&:before {
			content: "\"";
			display: inline-block;
			position: absolute;
			left: 0; top: -5px;
			font-size: 72px;
		}
	}

	q {
		font-style: italic;
	}

	figure {
		margin-left: 0;
		margin-right: 0;
	}

	.sticky-post {
		background-color: $color-primary;
		color: white;
		font-size: 32px;
		left: 20px;
		top: 0;
		position: absolute;
		display: inline-block;
		line-height: 1;
		padding: 8px 16px;
		font-size: 14px;
		font-weight: bold;

		@media (min-width: $breakpoint-small) {
			left: 60px;
		}
	}

}

.posts-navigation {
	margin-top: 60px;
}

// When using infinite scroll do not show next/prev links
.infinite-scroll .posts-navigation {
	display: none;
}

.nav-links {
	display: flex;
	justify-content: space-between;

	.nav-previous a {
		background-color: white;
		padding: 20px 40px 20px 60px;
		position: relative;
		color: black;
		font-weight: bold;
		display: block;
		word-break: break-all;

		&:before {
			content: "\f104";
			display: inline-block;
			font-size: 28px;
			color: #aaa;
			position: absolute;
			left: 30px;
			top: 8px;
			font-family: FontAwesome;
		}
	}

	.nav-next a {
		background-color: white;
		padding: 20px 60px 20px 40px;
		position: relative;
		color: black;
		font-weight: bold;
		display: block;
		word-break: break-all;

		&:before {
			content: "\f105";
			right: 30px;
			top: 8px;
			left: auto;
			display: inline-block;
			font-size: 28px;
			color: #aaa;
			position: absolute;
			font-family: FontAwesome;
		}
	}
	.nav-next a:after,
	.nav-previous a:after {
		display: block; content: '';
		z-index: -1;
		position: absolute;
		top: 0; right: 0;
		width: 100%; height: 100%;
		background: transparent;
		box-shadow: 0 3px 10px -5px rgba(black, 0.5);
		opacity: 0;
		transition: 0.3s;
	}

	@media (max-width: $breakpoint-small) {
		.nav-next a {
			padding: 20px 40px 20px 20px;

			&:before {
				right: 15px;
			}
		}

		.nav-previous a {
			padding: 20px 20px 20px 40px;

			&:before {
				left: 15px;
			}
		}
	}

	.nav-previous a:hover:after,
	.nav-next a:hover:after {
		opacity: 1;
		transition: 0.3s;
	}
}

.page-content {
	.widget {
		border-top: 1px solid #f0f0f0;

		@media (max-width: 860px) {
			padding-left: 0;
			padding-right: 0;
		}
	}
}


// Some gallery stylings.
// Maybe I can move them to a new file?
.gallery-caption {
	font-size: 80%;
	margin-top: 10px;
}

.gallery-item {

}
