input,
textarea {
    padding: rem-calc(8px 10px);
    border: 1px solid #ddd;
    background: white;
    border-radius: 3px;
}

select {
    padding: rem-calc(8px 10px);
    border: 1px solid #ddd;
    background: white;
    border-radius: 3px;

    // Custom for the select:
    -webkit-appearance: none;
    box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 40px;
}
