/**
 * DX MOBILE MENU
 * ============================================================================
 * Basic styling and settings for the mobile menu. Edit to match each theme's
 * design.
 *
 * @version 1.1
 */

/**
 * VARIABLES
 * ============================================================================
 * Setting the menu default variables for easier tweaks.
 */
$menu-allow-animation: true;
$menu-breakpoint: 860px;

$menu-icon-size: 26px;
$menu-icon-line-height: 1;
$menu-icon-color: #333;
$menu-icon-color-hover: $color-primary;
$menu-icon-background: none;
$menu-icon-border: none;

$menu-item-weight: bold;
$menu-item-spacing: 20px;
$menu-item-color: black;
$menu-item-color-hover: $color-primary;
$menu-item-border-bottom: 1px solid #f0f0f0;

// Needs higher value for different header heights.
$menu-container-margin-top: rem-calc( 18px );
$menu-container-background: rgba(white, 0.95);
$menu-container-border-bottom: 1px solid #f0f0f0;
$menu-container-shadow:  0 10px 20px rgba(black, 0.1);

$submenu-background: #f0f0f0;
$submenu-border-top: 1px solid #ededed;
$submenu-shadow: none;
$submenu-safe-zone: 0;

$menu-dropdown-arrow-line-height: 1.7;
$menu-dropdown-arrow-size: 28px;

/**
 * Needs to be used when the mobile menu covers the whole screen while opened
 * and its possible to scroll inside the menu while maitaining the wrapper element's
 * positioning. Keep commented out by default.
 */
body.is-menu-opened {
	// overflow: hidden;
}

/**
 * Primary navigation base styling.
 * ============================================================================
 */
.main-navigation {
	display: inline-block;

	.menu-toggle {
		display: inline-block;
		color: $menu-icon-color;
		line-height: $menu-icon-line-height;
		font-size: $menu-icon-size;
		background: $menu-icon-background;
		border: $menu-icon-border;

		&:hover {
			cursor: pointer;
			color: $menu-icon-color-hover;
		}

		&:focus {
			outline: none;
		}
	}

	.menu-item,
	.page_item  {
		display: block;
		position: relative;
		margin-right: $menu-item-spacing;
		font-weight: $menu-item-weight;

		&:last-of-type {
			margin-right: 0;
		}

		a {
			color: $menu-item-color;
			display: inline-block;
		}

		@media (min-width: $menu-breakpoint) {
			display: inline-block;
		}
	}

	.sub-menu,
	.children {
		margin-top: -1px;
		margin-left: -1px;
	}

	/**
	 * Begin the mobile menu styling.
	 */
	@media (max-width: $menu-breakpoint) {

		.menu-item,
		.page_item {
			border-bottom: $menu-item-border-bottom;
			margin: 0;
			display: block;

			a {
				display: block;
				padding: rem-calc(8px $global-layout-gutter / 2);
			}

			a:hover {
				color: $menu-item-color-hover;
			}

			&:last-of-type {
				border-bottom: none;
			}
		}

		.sub-menu,
		.children {
			display: none;
			border-top: $submenu-border-top;
			background: $submenu-background;

			.menu-item a,
			.page_item a { background: #fcfcfc}
		}

		.menu-item.is-extended .sub-menu,
		.menu-item.is-extended .sub-menu,
		.page_item.is-extended .children,
		.page_item.is-extended .children, {
			display: block;
		}
	}
}

.menu-primary-container {
	// Needed to fit the custom button
	float: right;

	z-index: 99;
}

/**
 * Displaying the mobile menu on click.
 */
@media (max-width: $menu-breakpoint) {
	.menu-primary-container {
		display: none;
		position: absolute;
		left: 0;
		width: 100%;
		margin-top: $menu-container-margin-top;
		background: $menu-container-background;
		border-bottom: $menu-container-border-bottom;
		box-shadow: $menu-container-shadow;
	}

	.is-extended .menu-primary-container {
		display: block;
	}

	.is-extended .menu-primary {
		opacity: 1;
		transform: translateY(0);
		pointer-events: auto;
	}
}

/**
 * Starts the standard desktop menu styling.
 */
@media (min-width: $menu-breakpoint) {
	.menu-primary-container {
		display: block;
	}

	.main-navigation {
		.menu-toggle {
			display: none;
		}

		.sub-menu,
		.children {
			pointer-events: none;
			opacity: 0;
			transition: 0.2s;
			transform: translateY(40px);
			// top: 100%;
		}

		// Simply show the dropdown menu on hover
		.menu-item-has-children:hover > .sub-menu,
		.menu-item-has-children:hover > .children {
			display: block;
		}

		li {
			position: relative;
		}

		li:hover > .sub-menu,
		li:hover > .children {
			opacity: 1;
			pointer-events: auto;
			transition: 0.2s;
			transform: translateY(0);
		}
	}

	.menu > .menu-item:nth-last-child(-n+3) .sub-menu,
	.menu > .page_item:nth-last-child(-n+3) .sub-menu,
	.menu > .menu-item:nth-last-child(-n+3) .children,
	.menu > .page_item:nth-last-child(-n+3) .children {
	    right: 0;
		left: auto;

		.sub-menu,
		.children {
			right: 100%;
		}
	}

	.main-navigation .sub-menu,
	.main-navigation .children {
		position: absolute;
		border: 1px solid #ededed;
		top: 100%;
		background: rgba(white, 0.98);
		min-width: 200px;
		text-align: left;
		z-index: 99;

		.menu-item,
		.page_item {
			display: relative;
			border-bottom: 1px solid #ededed;

			&:last-of-type {
				border-bottom: none;
			}
		}

		// Used for easier hover movement.
		&:before {
			position: absolute;
			bottom: 100%;
			width: 100%;
			height: $submenu-safe-zone;
			background: transparent;
			content: '';
			display: block;
		}

		.sub-menu,
		.children {
			top: 0;
			left: 100%;
		}

		a {
			display: block;
			padding: 8px 13px;
			font-weight: normal;
			color: black;

			&:hover {
				background: transparent;
				color: $color-primary;
			}
		}

		li {
			width: 100%;
			border-bottom: 1px solid #f0f0f0;
			float: none;
			display: block;
		}
	}
}

/**
 * Styling the dropdown-arrow element. It takes more properties
 * so its in separate module here in the file.
 */
.menu-item-has-children {
	position: relative;

	.main-navigation &.menu-item a,
	.main-navigation &.page_item a {
		padding-right: 40px;
	}

	.dropdown-arrow {
		height: rem-calc( 60px );
		width: rem-calc( 60px );
		padding: 0;

		font-family: FontAwesome;
		display: inline-flex;
	    align-items: center;
		position: absolute;
		top: 0; right: 4px;
		text-align: center; vertical-align: middle;
		cursor: pointer;

		padding: 4px;
	    line-height: $menu-dropdown-arrow-line-height;
	    font-size: $menu-dropdown-arrow-size;

	    transition: 0.4s;

		// Disable select while clicking
		&, & i {
			user-select: none;
			display: inline;
			line-height: 2;
		}
	}

	&.is-extended .dropdown-arrow {
		transform: rotate(90deg);
		transition: 0.4s;
	}

	@media (min-width: $menu-breakpoint) {
		.dropdown-arrow {
			font-size: 14px;
			height: 14px;
			width: 14px;
			line-height: 1em;
			padding: 0;
			top: 26px;
			transform: rotate(90deg);
			right: 20px;
			transition: 0.4s;
		}

		.sub-menu .dropdown-arrow,
		.children .dropdown-arrow {
			transform: rotate(0);
			transition: 0.4s;
		}

		&:nth-last-child(-n+3) .sub-menu .dropdown-arrow,
		&:nth-last-child(-n+3) .children .dropdown-arrow {
			transform: rotate(180deg);
			transition: 0.4s;
			left: 10px;
		}
	}
}
