

/**
 * The standard section wrapper. Use this with other classes for the base styling.
 * Default paddings are 40 and 80px
 */
.section-fullwidth {
	$border-color: #ddd;
	$section-padding: 80px;

	padding: #{$section-padding/ 2} 0;
	position: relative;

	@media (min-width: $breakpoint-small) {
		padding: #{$section-padding} 0;
	}

	// Default modifiers
	&.border-bottom {
		border-bottom: 1px solid #ddd;
	}
	&.border-top {
		border-top: 1px solid #ddd;
	}
	&.shadow {
		box-shadow: 0 5px 10px -5px rgba(black, 0.3);
		z-index: 10;
	}
	&.shadow-inset {
		box-shadow: inset 0 5px 10px -5px rgba(black, 0.3);
		z-index: 10;
	}
	&.inverted {
		background: black;
		color: white;
	}
}

.section-main {
	@media (max-width: 860px) {
		.row {
			flex-direction: column;
		}
		.medium-8,
		.medium-4 {
			max-width: 100%;
			flex: 1 1 auto;
			padding: 0;
		}
	}
}


.section-welcome {
	background: white;
}