.widget-area {
	.widget {
		margin-bottom: 40px;
		color: $color-muted;

		a {
			color: $color-text;
		}

		a:hover {
			text-decoration: underline;
		}

		li {
			margin-bottom: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid #ddd;

			&:last-of-type {
				margin-bottom: 0;
				padding-bottom: 0;
				border-bottom: none;
			}
		}

		figure {
			margin: 0;
		}
	}

	.widget-title {
		font-size: 16px;
		color: $color-text;
		margin-bottom: 20px;
	}

	.search-form {
		display: flex;
		box-shadow: 0 3px 5px rgba(black, 0.1);

		input {
			border: none;
			font-size: 16px;
		}

		label {
			flex: 1 1 100%;
		}

		input[type="search"] {
			width: 100%;
		}

		input[type="submit"] {
			border-left: 1px solid #f1f1f1;
			font-weight: bold;
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	// This comes from a small update to the tag functionality
	// by adding the size-<number> class to each tag element.
	.tagcloud {
		a {
			// This will overwrite the stylings from WP
			font-size: 14px !important;
			background: #fff;
			border: 1px solid #ddd;
			padding: 4px 8px;
			border-radius: 3px;
			display: inline-block;
			margin-bottom: 5px;
		}

		$class-slug: tag-size !default;
		@for $i from 20 through 22 {
			.#{$class-slug}-#{$i} {
				background: tomato;
				color: white;
				border-color: darken(tomato, 5%);
				font-weight: bold;
			}
		}

		@for $i from 17 through 19 {
			.#{$class-slug}-#{$i} {
				background: #ffc747;
				color: white;
				border-color: darken(#ffc747, 5%);
				font-weight: bold;
			}
		}

		@for $i from 14 through 16 {
			.#{$class-slug}-#{$i} {
				background: #ffa547;
				color: white;
				border-color: darken(#ffa547, 5%);
				font-weight: bold;
			}
		}
	}
}

// A neat looking calendar widget that outlines the days
// that have posts published on with Tomato background :3
.widget_calendar {
	caption {
		font-style: italic;
		margin-bottom: 5px;
	}

	td {
		background: white;
		border: 1px solid #ddd;
		padding: 8px 4px;
		text-align: center;
		color: #888;
		line-height: 1.8em;

		a {
			background: tomato;
			border-radius: 50%;
			padding: 0px;
			height: 1.8em;
			width: 1.8em;
			display: inline-block
		}
	}

	th {
		background: white;
		padding: 8px 4px;
		color: black;
		border: 1px solid #ddd;
	}

	&.widget td a {
		color: white;
		&:hover { text-decoration: none; }
	}

	&.widget tfoot tr td {
		padding: 0;
	}

	&.widget tfoot tr td a {
		padding: 10px;
		color: black;
		background: transparent;
		height: auto;
		text-align: center;
		display: block;
		width: auto;
	}
}



@media (max-width: 860px) {
	.widget-area {
		.widget {
			background: #fff;
			margin-top: 20px;
			padding: 60px;
			margin-bottom: 20px;
		}

		.widget_search {
			background: $color-primary;
		}
	}
}

@media (max-width: $breakpoint-small) {
	.widget-area .widget {
		padding: 20px;
	}
}
