// Global settings
$global-layout-gutter: 60px;
$global-font-size: 14px;
$global-width: 1200px;

// Standart set media queries
$breakpoint-mobile: 420px;
$breakpoint-small: 	640px;
$breakpoint-medium: 960px;
$breakpoint-large: 	1200px;

// Layout
$layout-header-height: 70px;

// Colors:
$color-primary: #00A7FF;
$color-primary-light: #4CC1FF;
$color-primary-dark: #007DBF;
$color-secondary: #FF3343;
$color-accent: #FFF81A;

$color-text: #1a1a1a;
$color-muted: #555;

$color-divider: #ddd;
$color-shadow: #ddd;

// Fonts
$font-serif: Georgia, "Times New Roman", serif;
$font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-heading: $font-sans;
