.site-info {
    color: $color-muted;
    font-size: 14px;

    a {
        color: $color-muted;
        text-decoration: underline;
    }

    @media (max-width: $breakpoint-small) {
      text-align: center;
    }
}

.site-footer {
    background: white;
    border-top: 1px solid #ddd;
}
