$color-text: #ddd;

// Custom dark mode styling
body {
	background-color: #1a1a1a;
	color: $color-text;
}

.page-content .widget a,
.widget-area .widget a {
	color: $color-text;
}

.page-header {
	color: #999
}

.entry, 
.page-content {
	background: #222;

	h1,h2,h3,h4,
	.entry-title, 
	.entry-title a {
		color: white;
	}

	.post-categories a {
		color: $color-text;
	}

	.entry-padding-area.footer {
		background: #272727;
		border-color: #444;
	}
}

.site-footer {
	background: #272727;
	border-color: #444;
	color: white;

	.site-info {
		color: white;

		a { color: white;}
	}
}

.nav-links .nav-next a,
.nav-links .nav-previous a,
.comments-area {
	background-color: #272727;
	color: white;
}

input, textarea {
	background: #444;
	border-color: #555;
}

.page-content .widget li, 
.widget-area .widget li {
	border-color: #444;
}

.page-content .search-form input[type=submit],
.widget-area .search-form input[type=submit] {
	border-color: #555;
	color: white;
}