// This file will change the paddings/sizes between elements depending on the
// options set from the customizer. The modifier classes are added to .body
.spacing-cozy {

} // Default one, no changes here.

.spacing-moderate {
	.column,
	.columns {
	    padding-left: $global-layout-gutter / 3;
	    padding-right: $global-layout-gutter / 3;
	}

	.entry-padding-area {
		padding: 30px 40px;

		@media (max-width: $breakpoint-small) {
			padding: 15px 20px;
		}
	}

	.button {
		padding: 10px 18px;
	}

	.entry .byline,
	.page-content .byline,
	.entry .tags-links,
	.page-content .tags-links,
	.entry .comments-link,
	.page-content .comments-link,
	.entry .posted-on,
	.page-content .posted-on,
	.entry .read-more,
	.page-content .read-more {
		margin-right: 10px;
	}

	.entry .read-more {
		@media (max-width: $breakpoint-small) { margin-right: 0 }
	}

	.entry .post-categories,
	.page-content .post-categories {
		margin-bottom: 10px;
	}

	.entry-header {
		margin-bottom: 0.5em;
	}

	.entry,
	.page-content {
		margin-bottom: 20px;
	}

	@media (max-width: 1200px) {
		.main-navigation .menu-item a, .main-navigation .page_item a {
		    padding: 15px;
		}
	}

	@media (max-width: $breakpoint-small) {
		// Remove all paddings on mobile so that there can be more content on the screen.
		.section-main {
			padding: 0;

			// And remove the padding from the foundation's row element.
			.row > .medium-8 { padding: 0; }
		}

		.entry {
			border-radius: 0;

			.sticky-post {
				position: relative;
			}

			&.sticky {
				border: none;
			}
		}
	}

	@media (min-width: $breakpoint-small) {
		.entry .sticky-post, .page-content .sticky-post {
		    left: 40px;
		}
	}
}
